@model Xolartek.Web.Models.LoginModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <p>
                @Html.ActionLink("Return", "Index") to main page
            </p>
        </div>
        <div class="col-md-4">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "FormCreate", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.HiddenFor(m => m.ReturnUrl)

                <fieldset>
                    <legend>Registrater for a new account</legend>
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserName)
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </li>
                        <li>
                            @Html.CheckBoxFor(model => model.RememberMe) remember me
                        </li>
                    </ol>
                    <div style="text-align:right">
                        <input class="btn btn-primary" type="submit" value="Sign in" />
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>

@section scripts {

}
